*{
    margin: 0;
    padding: 0;
}
body{

}
.container{
    width:1024px;
    height: 0 auto;
    margin: 0 auto;
}
.chat-options{
    text-align: center;
}
.chat-options a{
    text-decoration: none;
    background: green;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
}